@import "tailwindcss";

html, body {
  background-color: #0b1120;
  color: white;
}
@keyframes floatSlow {
  0% { transform: translateY(0px) translateX(0px); }
  50% { transform: translateY(-40px) translateX(30px); }
  100% { transform: translateY(0px) translateX(0px); }
}

@keyframes floatSlower {
  0% { transform: translateY(0px) translateX(0px); }
  50% { transform: translateY(50px) translateX(-40px); }
  100% { transform: translateY(0px) translateX(0px); }
}

.animate-float-slow {
  animation: floatSlow 18s ease-in-out infinite;
}

.animate-float-slower {
  animation: floatSlower 25s ease-in-out infinite;
}
@keyframes waveSlow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

.animate-waveSlow {
  animation: waveSlow 18s linear infinite;
}
@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.gradient-text-animated {
  background: linear-gradient(
    90deg,
    #a78bfa,
    #818cf8,
    #c084fc,
    #a78bfa
  );
  background-size: 200% 200%;
  animation: gradientFlow 8s ease infinite;
  -webkit-text-fill-color: transparent;
}
